<a href="/maitre-unit-new">créer</a>
            <% if (docs) { %>
              <div>
                <h2>Inclure d'autres documents dans celui-ci:</h2>
                  <% for (var index in docs) { %>
                    <input type="checkbox" name="<%= docs[index].unit %>" value="<%= docs[index]._id %>"> <%= docs[index].unit %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>