<h3>modifier votre saisie</h3>
<form method='post' action='/tasks/<%= task.id %>'>
    <input type="hidden" value="PUT" name="_method">
    <input class="xlarge" name="task" value="<%= task.task %>">
    <br><input type="submit" value="Save">
</form>