<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Ho Créateur ! Inventez-nous comme toutes choses en cet univers.</p>
      	  <p><a href="/maitre-de-jeu-aide" class="btn btn-primary btn-lg">aide &raquo;</a></p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2><a href="/maitre-unit-new">Créer une unité</a></h2>
          <p>
            une nouvelle idée d'unité ? Cela peut être un être vivant, comme un PNJ ou un batiment.
            <hr>
            En faite on Créé un objet, que l'on peut inclure dans d'autres objets, "où dans lequel on peut inclure d'autres objets":FAUX les actions inclueront.
            <hr>
            liste caract objet:
            <br>De base:
            <br>-Nom
            <br>-avatar
            <br>-type(batiment, bonhomme...): c'est les catégories, On peut en créer
            <br>-parent(après quel autre objet arrive-t-il, le parent par défaut est l'univers puis l'empereur puis la race etc...)
            <hr>

            Ce n'est plu "Faire la liste des caractéristiques de ces Objets(document) pour le créer" mais "Faire la liste des objets à créer".
            <hr>
            -origine(n'est pas nécessaire dans la logique OBJET, parent remplit cette fonction)
            <br>-section accessible(plateau, histoire...)
            <hr>
            -temps de fabrication
            <br>-cout en ressources: le cout en ressources ou composants sont des conditions particulières sont des actions entre OBJETS. On l'enlève il sera créé grace aux actions.
            <hr>
            Les caractéristiques peuvent aussi être des objets:
            <br>-vie
            <br>-énergie
            <br>-degats physique
            <br>-degats magique
            <br>-armure
            <br>-rés. magie
            <br>-vit déplacement
            <br>-vit travail
            <hr>
            -cout en entretien
            <br>-type de place occupées
            <br>-nombres de places occupées
          </p>
        </div>
        <div class="col-md-6">
          <h2>Hiérarchie de vos unités</h2>
          <p>
            Permet de voir la juxtaposition des unités créés.
            <br>Ca par du joueur, et ca fait un arbre montrant,
            tous les liens entre les éléments, les superpositions et enchainements.
          </p>
       </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Créer des actions(sortillèges ??)</h2>
          verbe des actions:
          <br>fabriquer(créer la vie)
          <br>supprimer(affecte la vie)
          <br>ajouter(régénère quelque chose)
          <br>transformer(passer d'un état à un autre)
          <br>poke(émettre un message)
          <br>
        </div>
        <div class="col-md-6">
          <h2>Liez vos actions à vos unités</h2>
          <p>
            donner des pouvoirs.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Créer les plateaux</h2>
          -Nom
          <br>-taille: X x Y
          <br>
       </div>
        <div class="col-md-6">
          <h2>Créer des scénarios</h2>
          <p>
            enchainement de plateaux d'histoires et unités.
          </p>
       </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Créer des histoires</h2>
          Ce sont des pages avec images et textes et actions.
       </div>
        <div class="col-md-6">
          <h2>Créer des scénarios</h2>
          <p>
            enchainement de plateaux d'histoires et unités.
          </p>
       </div>
      </div>




      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
