<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>
      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title %></h1>
		  <p style="text-align:justify;">
        Bienvenu <%= user.username %>.
      </p>
      <hr>
      <p style="text-align:justify;">
      </div>
      <h1>Informations du compte</h1>
      <div class="row">
        <div class="col-md-4">
          <h2>--</h2>
          <p>
            <p>Email: <%= user.email %></p>
          </p>
          <p><a class="btn btn-default" href="#" role="button">Modifier &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>--</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">Modifier &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>--</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">Modifier &raquo;</a></p>
        </div>
      </div>


      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
