<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Partez à la découverte d'un univers de science fiction futuriste.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="/combattez-tout-de-suite">
            <h2>Combattez tout de suite</h2>
            <p>
              <img src="images/combattez.png"
              Permet de trouver un adversaire, pour faire un combat sur une grille
            </p>
          </a>
        </div>
        <div class="col-md-6">
          <a style="color:grey;" href="#">
            <h2>Gérez Votre Empire</h2>
            <p>
              <img src="images/syst_planet.jpeg"
            </p>
          </a>
       </div>
      </div>



      <div class="row">
        <div class="col-md-6">
          <a style="color:grey;" href="#">
            <h2>L'Univers</h2>
            <p>
              <img src="images/citespatiale1.png">
              voir l'univers,
              <br>affiche sur une carte
              <br>(vos champs de batailles, votre empire, les oasis)
              <br>les zones particulières de l'univers.
            </p>
          </a>
       </div>
        <div class="col-md-6">
          <a style="color:grey;" href="#">
            <h2>Vos échanges de ressources</h2>
            <h4>Ressources produies<code  class="pull-right">2</code></h4>
            <h4>Ressources échangées<code  class="pull-right">14</code></h4>
            <h4>Ressources reçues<code class="pull-right">2</code></h4>
            <h4>Satisfaction de vos citoyens<code class="pull-right">2</code></h4>
          </a>
          <p>
            Comme à anno 1602, ca se joue la dessus.
          </p>
        </div>
      </div>





      <div class="row">
        <div class="col-md-6">
          <a style="color:grey;" href="#">
            <h2>Les PNG</h2>
            <p>
              <img src="images/citespatiale1.png">
              <br>Permet de s'adresser à différents P.N.G. qui vous donneront des solutions pour tous vos problèmes.
            </p>
          </a>
       </div>
        <div class="col-md-6">
          <a style="color:grey;" href="#">
            <h2>Les news de l'Empire <code class="pull-right">4</code></h2>
          </a>
          <a style="color:grey;" href="#">
            <h2>Les news de la guilde<code  class="pull-right">2</code></h2>
          </a>
          <a style="color:grey;" href="#">
            <h2>Les news de l'univers<code  class="pull-right">14</code></h2>
          </a>
          <a style="color:grey;" href="#">
            <h2>Les news diplomatiques<code class="pull-right">2</code></h2>
          </a>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
