<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Partez à la découverte d'un univers de science fiction futuriste.</p>
      	  <p><a href="/combattez-tout-de-suite" class="btn btn-primary btn-lg">retour &raquo;</a></p>
      </div>
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
