<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="/combattez-tout-de-suite-grille">
            <h2>Instanciez une grille équitable</h2>
            <p>
              <img src="images/combattez.png">
              faites vos choix et lancez la recherche.
            </p>
          </a>
        </div>
        <div class="col-md-6">
            <p>
              liste de choix

              <a href="/grille-tout-de-suite" class="btn btn-primary btn-lg pull-right">Lancer la recherche &raquo;</a>
            </p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
