<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %></h1>
      </div>


<!-- ROW 1 -->
  <div class="row">
<!-- SPAN 1 -->
  <div class="col-md-12" style="font-size:18px;background-color: rgba( 90, 71, 29,0.5);margin-top:10px;border-radius: 10px;color:white;text-align:center;">
<TABLE BORDER="1" CELLPADDING=10> 
  <TR>  <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>   <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>   <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>   <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>  <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>   <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>  <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>   <TH>   </TH>  <TH>  </TH>  <TH>  </TH>  <TH>  </TH>   <TH>   </TH>  <TH>  </TH>   </TR> 
  <TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>   </TR>
  <TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>   </TR>
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
<TR>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD> <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD> <TD>  </TD> <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  <TD>  </TD>  <TD>  </TD>  <TH>  </TH>  <TD>  </TD>  </TR> 
</TABLE> 
  </div><!-- span -->
  </div><!-- row -->



      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <h2>Vos unités</h2>
          </a>
            <p>
              liste des unités.
            </p>
        </div>
        <div class="col-md-6">
          <a href="#">
            <h2>Les unités ennemis</h2>
          </a>
            <p>
              liste des unités visibles.
            </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <h2>Vos ressources</h2>
          </a>
            <p>
              liste des unités.
            </p>
        </div>
        <div class="col-md-6">
          <a href="#">
            <h2>améliorations sur les ressources</h2>
          </a>
            <p>
              liste des unités visibles.
            </p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <h2>Vos tecnologies</h2>
          </a>
            <p>
              liste des unités.
            </p>
        </div>
        <div class="col-md-6">
          <a href="#">
            <h2>Vos débarquements</h2>
          </a>
            <p>
              liste des unités visibles.
            </p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
