<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Partez à la découverte d'un univers de science fiction futuriste.</p>
      	  <p><a href="/univers-general" class="btn btn-primary btn-lg">Retour &raquo;</a></p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="/combattez-tout-de-suite-grille">
            <h2>Instanciez une grille équitable</h2>
            <p>
              <img src="images/combattez.png">
              Permet de trouver un adversaire, pour faire un combat sur une grille
            </p>
          </a>
        </div>
        <div class="col-md-6">
            <p>
              choissisez parmis les tailles de champs de batailles, et engagez vous dans un combat direct avec un autre joueur.
              <hr>Une grille est créée avec quelques unités que vous avez choisi, et une porte, vous devez défendre cette porte et détruire la porte adverse.
              <hr>Vous avez des technologies à gérer comme si vous etiez connecté à votre base.
              <hr>Vous et votre adversaire avez accès au même choix de technologies, ressources au départ.
              <hr>Celui qui l'emporte gagne beaucoup de PI(monnaie du jeu), le perdant beaucoup moins.
            </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a style="color:grey;" href="/combattez-tout-de-suite-assaut">
            <h2>Instanciez un assaut</h2>
            <p>
              <img src="images/combattez.png">
              Permet de trouver un adversaire, pour faire un combat sur une grille
            </p>
          </a>
        </div>
        <div class="col-md-6">
            <p>
              Lors d'un assaut vous devez résister, à des vagues d'assaillants.
              <hr>Choississez la difficulté et essayez-vous en défenseur!
              <hr>Si vous l'emportez vous gagnez des PI, sinon c'est le créateur de la mission qui l'emporte.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a style="color:grey;" href="/combattez-tout-de-suite-donjon">
            <h2>Faire un donjon</h2>
            <p>
              Partez à la découverte d'un donjon.
            </p>
          </a>
        </div>
        <div class="col-md-6">
            <p>
              Aves vos Héros rélevez le défi des donjons.
              <hr>ce sont des petites grilles ou il y a des combats ou des suite de qcm pour résoudre une enigme.
              <hr>gagnez des PI, où enrichissez le créateur du donjon.
            </p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
